NEXTAUTH_URL="http://localhost:3000" # When deploying to production, set this to your production URL (AuthJS will use this to dynamically generate redirect URLs)

##================================#
## IDENTITY ACCESS AND MANAGEMENT #
##================================#
EMAIL_FROM="your-email@example.com"
EMAIL_SERVER_HOST="smtp.example.com"
EMAIL_SERVER_PORT=465
EMAIL_SERVER_USER="your-email@example.com"
EMAIL_SERVER_PASSWORD="your-email-password"

AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

##=================================#
## Postgres Database configuration #
##=================================#
DATABASE_URL="postgresql://user:password@localhost:5432/auth_db?schema=public"
AUTH_DATABASE_HOST="localhost"
AUTH_DATABASE_PORT=5432
AUTH_DATABASE_NAME="auth_db"
AUTH_DATABASE_USER="your-database-user"
AUTH_DATABASE_PASSWORD="your-database-password"